html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.page-header {
  height: 120rpx;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  font-size: 48rpx;
  font-weight: bold;
  padding: 20rpx 30rpx 0;
  box-sizing: border-box;
}

/* 自定义导航栏 */
  .nav-bar {
    display: flex;
    align-items: center;
    height: 88rpx;
    background-color: #fff;
    padding: 0 30rpx;
    position: relative;
    box-shadow: 1rpx 1rpx 5rpx rgba(0, 0, 0, 0.1);

    .nav-left {
      .back-icon {
        width: 40rpx;
        height: 40rpx;
      }
    }

    .nav-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 36rpx;
      font-weight: 500;
      color: #333;
    }
  }